@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background: rgb(235, 131, 131);
}
button.optionsBtn:hover {
    background: #bbb;
    color: #fff;
}

button.optionBtn:focus {
    border: 2px solid lightgreen;
}

h3 {
    font-family: "Lato";
}

.alert {
    width: 50%;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.success {
    background: green;
    border: 2px solid limegreen;
    text-align: center;
    letter-spacing: 3px;
}

.danger {
    background: rgb(170, 3, 3);
    border: 2px solid rgb(248, 41, 41);
    text-align: center;
    letter-spacing: 3px;
}

.restart-btn {
    display: block;
    background: rgb(45, 250, 45);
    color: #fff;
    width: 200px;
    margin: 0 auto;
    padding: 15px 10px;
    border: 2px solid rgb(1, 95, 1);
    cursor: pointer;
    font-size: 20px;
}

.restart-btn:active {
    background: rgb(2, 170, 2);
}

@media screen and (max-width: 600px) {
    body {
        background: rgb(235, 131, 131);
    }
    .left-element {
        margin-right: 70px;
    }

    .alert {
        width: 90%;
    }
}